{% extends 'base.html' %}
{% block title %}New Blog Post{% endblock title %}
{% block content %}

<h1>Add Post</h1> <hr> <br>

{% if user.is_authenticated %}
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn btn-secondary" type="submit">Post</button>
        </form>
    </div>

    <script>
        var name = "{{user.id}}";
        document.getElementById("author-name").value = name;
    </script>

{% else %}
    You are not authenticated...!
{% endif %}

{% endblock %}