{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title_tag }}{% endblock title %}

{% block content %}

    <h1>{{post.title}}</h1> 
    By: {{post.author.first_name}} {{post.author.last_name}}
    <small> ({{post.post_date}}) </small> &nbsp; &nbsp;
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}">Edit</a> 
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
    {% endif %}    
    <br>
    <hr>
    <br>

    {% if post.header_image %}
        <img src="{{post.header_image.url}}" alt="" class="h-25 w-25"> <br> <br>
    {% endif %}

    {{post.body | safe}}
    
    <hr>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button class="btn btn-danger bt-sm" name="post_id" value="{{post.id}}" type="submit">UnLike</button>
            {% else %}
                <button class="btn btn-primary bt-sm" name="post_id" value="{{post.id}}" type="submit">Like</button>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Login</a> to like
        {% endif %}
            - {{total_likes}} Likes
    </form>

    <hr>

    <div class="card mb-3" >
        <div class="row no-gutters">
          <div class="col-md-4">
              {% if post.author.profile.profile_pic %}
                <img src="{{post.author.profile.profile_pic.url}}" class="card-img">
              {% else %}
                <img src="{% static 'theblog/images/download.png' %}" class="card-img">
              {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{post.author.first_name}} {{post.author.last_name}}</h5>
              <p class="small text-muted">
                <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
                {% if post.author.profile.website_url %}
                    | <a href="{{post.author.profile.website_url}}">Website</a>
                {% endif %}
                {% if post.author.profile.facebook_url %}
                    | <a href="{{post.author.profile.facebook_url}}">Facebok</a> 
                {% endif %}
                {% if post.author.profile.twitter_url %}
                    | <a href="{{post.author.profile.twitter_url}}">Twitter</a> 
                {% endif %}
                {% if post.author.profile.instagram_url %}
                    | <a href="{{post.author.profile.instagram_url}}">Instagram</a> 
                {% endif %}
                {% if post.author.profile.pinterest_url %}
                    | <a href="{{post.author.profile.pinterest_url}}">Pinterest</a> 
                {% endif %}
              </p>
              <p class="card-text">{{post.author.profile.bio}}</p>
            </div>
          </div>
        </div>
    </div>

    <hr>

    <h3>Comments: </h3> <br>
    {% if not post.comments.all %}
        No comments written. <a href="{% url 'add_comment' post.pk %}">Add a Comment...</a>
    {% else %}
        <a href="{% url 'add_comment' post.pk %}">Add a New Comment...</a> <br> <br>
        {% for comment in post.comments.all %}
            <strong>{{comment.name}} - {{comment.date_added}}</strong> <br>
            {{comment.body}} <br> <br>
        {% endfor %}
    {% endif %}

{% endblock %}
