{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock title %}
{% block content %}

<h1>Delete Post</h1> <hr> <br>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h3>Delete: {{post.title}}</h3> <br>
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong> <br> <br>
                <button class="btn btn-secondary" type="submit">Delete</button>
            </form>
        </div>
    {% else %}
        You are not authenticated...!
    {% endif %}
{% else %}
    You are not authenticated...!
{% endif %}

{% endblock %}