{% extends 'base.html' %}
{% block title %}Edit Blog Post{% endblock title %}
{% block content %}

<h1>Update Post</h1> <hr> <br>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary" type="submit">Update</button>
            </form>
        </div>
    {% else %}
        You are not authenticated...!
    {% endif %}
{% else %}

    You are not authenticated...!
{% endif %}

{% endblock %}